body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.quiz-container {
  background-color: #fff;
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}
